@font-face {
  font-family: Poppins-Regular;
  src: url("fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("fonts/Poppins-Bold.ttf");
}
:root {
  --eduactive-color-1: #370617;
  --eduactive-color-2: #e85d04;
  --black: #020618;
  --gray-soft: #edeffd;
  --gray: #787b8e;
  --gray-2: #424349;
  --gray-3: #3c373a;
  --gray-4: #292a2f;
  --white: #fffdfd;
  --white-2: #fbfbfd;
  --system-right: #138610;
  --system-wrong: #e01515;
  --system-wrong-2: #d00000;
  --system-issue: #ffba08;
  --transition: all 300ms ease-out;
}

*,
::after,
::before {
  font-family: Poppins-Regular, sans-serif;
}

body {
  background: var(--white);
}

.cs-btn {
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 8px 24px;
  font: 14px Poppins-SemiBold;
  line-height: 24px;
  text-align: center;
  background-color: var(--eduactive-color-2);
  color: var(--white);
  transition: var(--transition);
  cursor: pointer;
  text-decoration: none;
}
.cs-btn:hover {
  border-color: var(--eduactive-color-2);
  background-color: var(--white);
  color: var(--eduactive-color-2);
  text-decoration: underline;
}
.cs-btn:active, .cs-btn:focus {
  border-color: var(--eduactive-color-1);
  background-color: var(--eduactive-color-1);
  color: var(--white);
  text-decoration: underline;
}

.cs-input {
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 8px;
  outline: none;
  padding: 16px 12px;
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--black);
  transition: var(--transition);
}
.cs-input::-moz-placeholder {
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--gray);
}
.cs-input::placeholder {
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--gray);
}
.cs-input:hover, .cs-input:focus, .cs-input:active {
  border-color: var(--eduactive-color-2);
  color: var(--black);
}

.header {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3333;
}
.header .navbar-toggler:focus {
  box-shadow: none;
  border-color: var(--eduactive-color-2);
}
.header .navbar {
  padding: 11px 0;
}
.header .navbar-brand {
  margin-right: 52px;
  font: 36px Poppins-SemiBold;
  line-height: 54px;
  color: var(--eduactive-color-1);
}
.header .navbar-brand span {
  color: var(--eduactive-color-2);
  font: inherit;
}
.header .nav-link {
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--gray);
  margin-left: 32px;
  transition: var(--transition);
}
.header .nav-link:hover {
  color: var(--eduactive-color-2);
  transform: scale(1.1);
}
.header .nav-link:active, .header .nav-link:focus {
  color: var(--eduactive-color-1);
  text-decoration: underline;
  transform: scale(1.1);
}
.header .active {
  color: var(--eduactive-color-1);
  text-decoration: underline;
  transform: scale(1.1);
}
.header .profile-link-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: none;
}
.header .profile-link-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.dummy-height {
  height: 86px;
}

.footer {
  background-color: var(--black);
}

.footer-brand {
  font: 36px Poppins-SemiBold;
  line-height: 54px;
  color: var(--white);
}
.footer-brand:hover {
  color: var(--white);
}
.footer-brand span {
  font: inherit;
  line-height: inherit;
  color: var(--eduactive-color-2);
}

.footer-copyright {
  cursor: default;
  font: 14px Poppins-SemiBold;
  line-height: 21px;
  color: var(--white);
}

.university-apply {
  padding: 60px 0 120px 0;
  background-image: url("../img/university-img.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 750px;
}

.page-slogan {
  font: 44px Poppins-SemiBold;
  line-height: 55px;
  color: var(--black);
  margin: 0;
  padding: 0 0 24px 0;
}

.page-desc {
  font: 16px Poppins-Medium;
  line-height: 24px;
  color: var(--gray);
  text-align: left;
  max-width: 490px;
  margin: 0;
  padding: 0 0 36px 0;
}

.form-first-inputs label,
.form-second-inputs label {
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--black);
  margin-bottom: 12px;
  margin-right: 18px;
  width: 160px;
}
.form-first-inputs label input::-webkit-outer-spin-button,
.form-first-inputs label input::-webkit-inner-spin-button,
.form-second-inputs label input::-webkit-outer-spin-button,
.form-second-inputs label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form-first-inputs label select,
.form-second-inputs label select {
  background-image: url("../css/icons/others/select-arrow.svg");
  background-size: 12px 8px;
}
.form-first-inputs label select:focus,
.form-second-inputs label select:focus {
  box-shadow: none;
  color: var(--eduactive-color-2);
}
.form-first-inputs label select:hover,
.form-second-inputs label select:hover {
  color: var(--eduactive-color-2);
}
.form-first-inputs label option,
.form-second-inputs label option {
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--black);
}

.apply-form-btns {
  margin-top: 36px;
}
.apply-form-btns .search-programs {
  display: inline-block;
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--gray);
  transition: var(--transition);
  text-decoration: none;
  margin-left: 36px;
}
.apply-form-btns .search-programs img {
  transform: rotate(-90deg);
}
.apply-form-btns .search-programs:hover {
  color: var(--eduactive-color-2);
  text-decoration: underline;
  transform: scale(1.1);
}

.about-us {
  padding: 60px 0 120px 0;
}

.about-us-img {
  height: 600px;
  overflow: hidden;
}
.about-us-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-title {
  font: 48px Poppins-SemiBold;
  line-height: 60px;
  color: var(--black);
  text-align: left;
  padding: 0;
  margin: 0 0 24px 0;
}

.about-description {
  font: 16px Poppins-Medium;
  line-height: 24px;
  color: var(--gray);
}
.about-description span {
  font: inherit;
  line-height: inherit;
  color: inherit;
  display: inline-block;
  padding-top: 12px;
}

.why-eduactive {
  padding: 30px 0 120px 0;
}

.eduactive-grid-item-img {
  width: 112.67px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
}
.eduactive-grid-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid-heading {
  font: 20px Poppins-SemiBold;
  line-height: 25px;
  color: var(--black);
  padding: 0;
  max-width: 260px;
  margin: 24px auto 16px auto;
}

.grid-txt {
  font: 16px Poppins-Medium;
  line-height: 20px;
  color: var(--gray);
  max-width: 250px;
  margin: 0 auto;
}

.landing-blogs {
  padding: 30px 0 90px 0;
}

.landing-blog-item {
  cursor: pointer;
  background: #ffffff;
  width: 298px;
  border: 0.564394px solid #edeffd;
  border-radius: 6.77273px;
}

.landing-blog-img {
  width: 298px;
  height: 213px;
  position: relative;
}
.landing-blog-img::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #292d2c 7.41%, rgba(59, 62, 61, 0) 87.3%);
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing-blog-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 6.77273px;
  border-top-right-radius: 6.77273px;
}

.landing-blog-category {
  position: absolute;
  left: 15px;
  bottom: 16px;
  z-index: 33;
  font: 12px Poppins-Medium;
  line-height: 18px;
  color: var(--white);
  padding: 6.8px 5.64px;
  background-color: var(--eduactive-color-2);
  border: 1px solid transparent;
  border-radius: 11.2879px;
}

.landing-blog-details {
  padding: 34px 19px;
}
.landing-blog-details a {
  font: 16px Poppins-Medium;
  color: var(--gray);
  transition: var(--transition);
}
.landing-blog-details a img {
  width: 15px;
  height: 13px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landing-blog-details a:hover {
  color: var(--eduactive-color-2);
}

.landing-blog-date {
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--gray);
  display: inline-block;
  margin: 0 0 22px 0;
}

.landing-blog-title {
  font: 24px Poppins-SemiBold;
  line-height: 30px;
  color: var(--black);
  -webkit-box-orient: block-axis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 55px;
}

.landing-blog-txt {
  font: 14px Poppins-Medium;
  color: var(--gray-2);
  -webkit-box-orient: block-axis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 45px;
}

.main-swiper {
  width: 96%;
  height: 480px;
}

.swiper-btn-next,
.swiper-btn-prev {
  color: var(--gray-soft);
  transition: var(--transition);
}
.swiper-btn-next:hover,
.swiper-btn-prev:hover {
  color: var(--eduactive-color-1);
}
.swiper-btn-next::after,
.swiper-btn-prev::after {
  font-size: 52px;
  font-weight: bolder;
  z-index: 3333;
}

.swiper-btn-next {
  right: 0;
}

.swiper-btn-prev {
  left: 0;
}

.contact-us {
  padding: 30px 0 40px 0;
  background-color: #fff;
}

.contact-us-image {
  height: 330px;
  overflow: hidden;
}
.contact-us-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.contactForm .inputLabels {
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--black);
  margin-bottom: 36px;
  width: 300px;
}
.contactForm .inputLabels input::-webkit-outer-spin-button,
.contactForm .inputLabels input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.contactForm .textareaLabel {
  width: 100%;
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--black);
  margin-bottom: 36px;
}
.contactForm textarea {
  width: 100%;
  height: 136px;
  resize: none;
}
.contactForm .contact-btn-sumbit span {
  display: none;
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--black);
  text-align: center;
  margin-top: 8px;
}

.keep-updated {
  margin-top: 20px;
  background-color: var(--gray-soft);
  padding: 24px 0 40px 0;
}

.keep-updated-btn span {
  display: none;
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--black);
  text-align: center;
  margin-top: 8px;
}

.keep-updated-inputs label {
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--black);
  width: 100%;
}

.keep-updated-txt {
  font: 18px Poppins-Medium;
  line-height: 30px;
  color: var(--gray);
  max-width: 550px;
}

.blog-header {
  background-color: var(--gray-soft);
  padding: 32px;
  margin: 40px 0;
}

.blog-title {
  font: 48px Poppins-SemiBold;
  line-height: 60px;
  color: var(--black);
  text-align: center;
  padding: 0;
  margin: 0 0 32px 0;
}

.blog-desc {
  font: 32px Poppins-Medium;
  line-height: 40px;
  text-align: center;
  color: var(--gray-3);
  margin: 0;
}

.blog-grid {
  padding-bottom: 120px;
}

.blog-item {
  cursor: pointer;
  background: #ffffff;
  border: 0.564394px solid #edeffd;
  border-radius: 6.77273px;
  margin-bottom: 20px;
}

.blog-img {
  width: 100%;
  height: 213px;
  position: relative;
}
.blog-img::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #292d2c 7.41%, rgba(59, 62, 61, 0) 87.3%);
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 6.77273px;
  border-top-right-radius: 6.77273px;
}

.blog-category {
  position: absolute;
  left: 15px;
  bottom: 16px;
  z-index: 33;
  font: 12px Poppins-Medium;
  line-height: 18px;
  color: var(--white);
  padding: 6.8px 5.64px;
  background-color: var(--eduactive-color-2);
  border: 1px solid transparent;
  border-radius: 11.2879px;
}

.blog-details {
  padding: 34px 19px;
}
.blog-details a {
  font: 16px Poppins-Medium;
  color: var(--gray);
  transition: var(--transition);
}
.blog-details a img {
  width: 15px;
  height: 13px;
  -o-object-fit: cover;
  object-fit: cover;
}
.blog-details a:hover {
  color: var(--eduactive-color-2);
}

.blog-date {
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--gray);
  display: inline-block;
  margin: 0 0 22px 0;
}

.blog-heading {
  font: 24px Poppins-SemiBold;
  line-height: 30px;
  color: var(--black);
  -webkit-box-orient: block-axis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 60px;
}

.blog-txt {
  font: 14px Poppins-Medium;
  color: var(--gray-2);
  -webkit-box-orient: block-axis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 45px;
}

.article-main-pic {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.article-main-pic::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(0deg, #292d2c 7.41%, rgba(59, 62, 61, 0) 87.3%);
}
.article-main-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-main-heading {
  max-width: 950px;
  position: absolute;
  bottom: 40px;
  left: 48px;
  z-index: 33;
}

.article-title {
  font: 40px Poppins-Bold;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-shadow: 4px 10px 48px rgba(0, 0, 0, 0.37);
  color: #fff;
  margin: 0;
  padding: 0 0 12px 0;
}

.article-subtitle {
  font: 32px Poppins-SemiBold;
  line-height: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.article-mini-info > div:not(:nth-child(4)) {
  position: relative;
}
.article-mini-info > div:not(:nth-child(4))::after {
  content: "";
  position: absolute;
  display: inline-flex;
  width: 20px;
  height: 1px;
  background-color: #fff;
  top: 20px;
  right: -30px;
}

.article-author {
  font: 20px Poppins-Regular;
  line-height: 40px;
  color: #fff;
}

.article-author,
.article-views,
.article-read-time {
  margin-right: 40px;
}

.article-read-img {
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.article-read-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: unset;
}

.article-read-text {
  font: 16px Poppins-Regular;
  color: #fff;
  padding-left: 8px;
  line-height: 40px;
  width: calc(100% - 18px);
}

.article-view-img {
  overflow: hidden;
}
.article-view-img img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: unset;
}

.article-view-text {
  font: 16px Poppins-Regular;
  line-height: 40px;
  color: #fff;
  padding-left: 8px;
  width: calc(100% - 16px);
}

.article-share-text {
  font: 16px Poppins-Regular;
  color: #fff;
  padding-left: 8px;
  line-height: 40px;
}

.article-similiar {
  padding: 100px 0;
}

.article-body {
  padding-top: 48px;
}

.swiper-btn2-next,
.swiper-btn2-prev {
  color: var(--gray-soft);
  transition: var(--transition);
}
.swiper-btn2-next:hover,
.swiper-btn2-prev:hover {
  color: var(--eduactive-color-1);
}
.swiper-btn2-next::after,
.swiper-btn2-prev::after {
  font-size: 52px;
  font-weight: bolder;
  z-index: 3333;
}

.swiper-btn2-next {
  right: -10px;
}

.swiper-btn2-prev {
  left: -10px;
}

.article-body-content {
  padding: 0 48px;
  font: 16px Poppins-Regular;
  line-height: 33px;
  color: var(--black);
}

.latest-title {
  font: 25px Poppins-SemiBold;
  line-height: 33px;
  color: var(--black);
  padding-bottom: 20px;
  margin: 0;
}

.latest-blogs-section {
  margin-bottom: 20px;
  padding: 20px 5px 28px 20px;
}

.latest-blogs-title {
  font: 14px Poppins-SemiBold;
  line-height: 20.5px;
  color: var(--black);
  -webkit-box-orient: block-axis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 60px;
}

.latest-date p {
  font: 16px Poppins-Regular;
  line-height: 40px;
  color: rgba(18, 20, 22, 0.81);
  margin: 0 32px 0 0;
  padding: 0;
  position: relative;
}
.latest-date p::after {
  position: absolute;
  content: "";
  display: inline-block;
  right: -25px;
  top: 20px;
  width: 20px;
  height: 1px;
  background: rgba(18, 20, 22, 0.81);
}
.latest-date span {
  display: inline-block;
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  padding-left: 6px;
  color: rgba(18, 20, 22, 0.81);
}
.latest-date img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
  object-fit: cover;
}

.latest-blogs a:first-child {
  display: block;
  background-color: var(--black);
}
.latest-blogs a:first-child h5 {
  font: 14px Poppins-Regular;
  color: #fff;
}
.latest-blogs a:first-child p, .latest-blogs a:first-child span {
  color: rgba(255, 255, 255, 0.81);
}
.latest-blogs a:first-child p::after {
  background-color: #fff;
}

.content-quote {
  margin-top: 80px;
  margin-bottom: 40px;
}
.content-quote span {
  font: 48px Poppins-SemiBold;
  line-height: 72px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.content-quote img {
  width: 35.39px;
  height: 38px;
  margin-right: 32px;
}

.content-body-heading {
  font: 40px Poppins-SemiBold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 48px 0 24px 0;
  margin: 0;
}

.login-page {
  background-color: var(--gray-soft);
  min-height: 90vh;
}

.sign-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 115px 0 200px 0;
}
.sign-container .nav-tabs {
  border-bottom: none;
}
.sign-container .tab-content {
  background: #fffdfd;
  border-radius: 0px 0 14px 14px;
  padding: 32px 133px 56px 133px;
}
.sign-container .nav-link {
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--gray) !important;
  transition: var(--transition);
  padding: 14px;
}
.sign-container .nav-link:hover, .sign-container .nav-link:focus, .sign-container .nav-link:active {
  border-color: transparent;
  color: var(--eduactive-color-2) !important;
}
.sign-container .active {
  transition: var(--transition);
  color: var(--eduactive-color-2) !important;
  background-color: var(--white) !important;
  border-color: var(--white) !important;
  border-radius: 14px 14px 0px 0px !important;
}

.login-google {
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: 12px 16px;
  background-color: transparent;
  outline: none;
  margin-right: 48px;
}
.login-google span {
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--gray);
  padding-left: 16px;
  width: calc(100% - 24px);
  transition: var(--transition);
}
.login-google img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
  object-fit: cover;
}
.login-google:hover span, .login-google:active span, .login-google:focus span {
  color: var(--eduactive-color-2);
}

.login-facebook {
  background: #1877f2;
  border: 1px solid #1877f2;
  border-radius: 8px;
  padding: 12px 16px;
  outline: none;
  transition: var(--transition);
}
.login-facebook span {
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--white);
  padding-left: 16px;
  width: calc(100% - 24px);
}
.login-facebook img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
  object-fit: cover;
}
.login-facebook:hover, .login-facebook:active, .login-facebook:focus {
  background: #1a5aaf;
}

.sign-in-validation {
  margin-top: 40px;
}
.sign-in-validation label {
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--black);
  margin-bottom: 8px;
}
.sign-in-validation input:focus, .sign-in-validation input:active {
  box-shadow: none;
}
.sign-in-validation .invalid-feedback {
  font: 12px Poppins-Medium;
  color: var(--system-wrong);
}
.sign-in-validation #showHidePass {
  border-left-color: transparent !important;
  outline: none;
  background: transparent;
}
.sign-in-validation .loss-pass {
  display: block;
  text-align: center;
  color: var(--eduactive-color-2);
  font: 16px Poppins-Medium;
  line-height: 20px;
  margin-top: 16px;
  transition: var(--transition);
  text-decoration: none;
}
.sign-in-validation .loss-pass:hover {
  text-decoration: underline;
}

.passborder {
  border-right: none;
}

.reg-validation label {
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--black);
  margin-bottom: 8px;
}
.reg-validation input:focus, .reg-validation input:active {
  box-shadow: none;
}
.reg-validation .invalid-feedback {
  font: 12px Poppins-Medium;
  color: var(--system-wrong);
}
.reg-validation .passborder {
  border-right: none;
}
.reg-validation #showHidePass2 {
  border-left-color: transparent !important;
  outline: none;
  background: transparent;
}

.reset-password {
  background-color: var(--gray-soft);
  min-height: 90vh;
  padding-top: 144px;
}

.reset-pass-form,
.set-new-pass-form {
  font: 12px Poppins-Medium;
  color: var(--system-wrong);
}
.reset-pass-form label,
.set-new-pass-form label {
  font: 12px Poppins-SemiBold;
  line-height: 15px;
  color: var(--black);
  margin-bottom: 8px;
}
.reset-pass-form input:focus,
.set-new-pass-form input:focus {
  box-shadow: none;
}

.reset-pass {
  background: #ffffff;
  border-radius: 14px;
  padding: 56px 100px;
  max-width: 740px;
  margin: 0 auto;
  min-height: 200px;
}

.reset-title {
  font: 32px Poppins-SemiBold;
  line-height: 40px;
  color: #000;
  margin-bottom: 48px;
  padding: 0;
  text-align: center;
}

.reset-confirmation {
  max-width: 500px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
  z-index: 333;
}
.reset-confirmation h4 {
  font: 32px Poppins-SemiBold;
  line-height: 40px;
  color: #000;
  padding: 0;
  margin-bottom: 8px;
  text-align: center;
}
.reset-confirmation span {
  display: inline-block;
  font: 24px Poppins-Medium;
  line-height: 36px;
  text-align: center;
  color: var(--gray);
}

.set-password {
  background-color: var(--gray-soft);
  min-height: 90vh;
  padding-top: 144px;
}

.set-pass {
  background: #ffffff;
  border-radius: 14px;
  padding: 56px 100px;
  max-width: 740px;
  margin: 0 auto;
}
.set-pass h1 {
  text-align: center;
  font: 32px Poppins-SemiBold;
  line-height: 40px;
  color: #000;
  margin-bottom: 48px;
}

.eye-show {
  border-left-color: transparent !important;
  outline: none;
  background: transparent !important;
}

.subscribe-plans {
  background-color: var(--gray-soft);
  min-height: 90vh;
}

.subscribe-plans-wrapper {
  padding: 80px 0;
}

.subscribe-plan-item {
  background: #fffdfd;
  border-radius: 12px;
  padding: 24px 32px;
  margin-bottom: 12px;
}

.plan-name {
  text-align: center;
  font: 24px Poppins-SemiBold;
  line-height: 36px;
  color: var(--black);
  margin-bottom: 24px;
  padding: 0;
}

.plan-list-item {
  margin-bottom: 20px;
}
.plan-list-item img {
  width: 22px;
  height: 16px;
  -o-object-fit: cover;
  object-fit: cover;
}
.plan-list-item span {
  font: 16px Poppins-SemiBold;
  line-height: 34px;
  color: #3c373a;
  padding-left: 24px;
}

.plan-price {
  display: block;
  font: 20px Poppins-SemiBold;
  line-height: 30px;
  color: #727172;
  text-align: center;
  margin: 32px 0 16px 0;
}

.current-plan {
  background-color: var(--gray-soft);
  color: var(--black);
}
.current-plan:hover, .current-plan:focus, .current-plan:active {
  border-color: transparent;
  color: var(--black);
  text-decoration: none;
  background-color: var(--gray-soft);
}

.scholarship {
  padding: 36px 0 50px 0;
  background-color: var(--gray-soft);
  min-height: 90vh;
}

.scholarship-filter {
  background: #ffffff;
  border-radius: 12px;
  padding: 36px 20px;
  margin-bottom: 16px;
}

.filter-heading {
  font: 36px Poppins-SemiBold;
  line-height: 54px;
  color: var(--black);
  margin-bottom: 32px;
}

.filter-title {
  font: 24px Poppins-SemiBold;
  line-height: 36px;
  color: var(--gray);
  display: inline-block;
  margin-bottom: 8px;
}

.all-filters .filterization {
  margin-bottom: 32px;
}
.all-filters .form-check {
  margin-bottom: 12px;
}
.all-filters .form-check-input {
  margin-top: 0;
  cursor: pointer;
  border: 1px solid #787b8e;
  border-radius: 4px;
  transition: var(--transition);
}
.all-filters .form-check-input:focus, .all-filters .form-check-input:hover {
  box-shadow: none;
  border-color: var(--eduactive-color-2);
}
.all-filters .form-check-input:hover ~ .form-check-label {
  color: var(--gray-2);
}
.all-filters .form-check-input:checked {
  background-color: var(--eduactive-color-2);
  border-color: var(--eduactive-color-2);
}
.all-filters .form-check-input:checked ~ .form-check-label {
  color: var(--black);
}
.all-filters .form-check-label {
  cursor: pointer;
  padding-left: 8px;
  font: 20px Poppins-Regular;
  line-height: 30px;
  color: var(--gray);
  transition: var(--transition);
}

.study-programs {
  background: #fffdfd;
  border-radius: 14px;
  padding: 24px 48px;
  overflow: hidden;
}

.study-programs-heading {
  font: 36px Poppins-SemiBold;
  line-height: 54px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 24px;
}
.study-programs-heading span {
  color: inherit;
  font: 24px Poppins-SemiBold;
  line-height: 36px;
}

.study-program-list-item {
  margin-bottom: 32px;
  border-bottom: 1px solid #787b8e;
  padding-bottom: 16px;
}

.program-title {
  font: 20px Poppins-SemiBold;
  line-height: 30px;
  color: var(--black);
  padding: 0;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.program-desc {
  font: 14px Poppins-Medium;
  line-height: 21px;
  color: var(--gray);
  margin: 0 0 32px 0;
  padding: 0;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
  display: webkit-box;
}

.program-degree span {
  font: 16px Poppins-SemiBold;
  line-height: 20px;
  color: var(--gray);
  padding-left: 8px;
}
.program-degree img {
  width: 25px;
  height: 21px;
  -o-object-fit: cover;
  object-fit: cover;
}

.program-time span {
  font: 16px Poppins-SemiBold;
  line-height: 20px;
  color: var(--gray);
  padding-left: 8px;
}
.program-time img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

.program-money span {
  font: 16px Poppins-SemiBold;
  line-height: 20px;
  color: var(--gray);
  padding-left: 8px;
}
.program-money img {
  width: 25px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

.study-program-list-block {
  padding: 16px;
  position: absolute;
  left: 0;
  top: 255px;
  z-index: 33;
  height: 100%;
  width: 100%;
  background-color: rgba(237, 239, 253, 0.6);
  border-radius: 0px 0px 14px 14px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.program-list-block-img {
  height: 350px;
  overflow: hidden;
}
.program-list-block-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.program-list-block-txt span {
  display: inline-block;
  font: 32px Poppins-SemiBold;
  line-height: 40px;
  color: var(--black);
}
.program-list-block-txt p {
  font: 22px Poppins-SemiBold;
  line-height: 36px;
  color: var(--gray-4);
  padding: 0;
  margin: 42px 0 20px 0;
}

.scholarship-details {
  padding: 32px 0;
  min-height: 90vh;
}

.scholarship-title {
  font: 36px Poppins-SemiBold;
  line-height: 54px;
  color: var(--black);
  padding: 0;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
  display: webkit-box;
  overflow: hidden;
  height: 110px;
}

.visit-scholarship a {
  padding: 14px 24px;
}

.scholarship-info {
  margin-top: 56px;
}

.scholarship-content {
  margin-bottom: 32px;
}
.scholarship-content h4 {
  font: 24px Poppins-SemiBold;
  line-height: 36px;
  color: var(--black);
  padding: 0;
  margin-bottom: 12px;
}
.scholarship-content p {
  font: 16px Poppins-Medium;
  line-height: 24px;
  color: var(--black);
  text-transform: capitalize;
}

.apply-done-wrapper {
  background-color: rgba(237, 239, 253, 0.4);
}

.apply-done {
  padding: 144px 0;
}

.request-done {
  max-width: 800px;
  margin: 0 auto;
}
.request-done h1 {
  font: 48px Poppins-SemiBold;
  line-height: 60px;
  text-align: center;
  color: var(--black);
  padding: 0;
  margin-bottom: 32px;
}
.request-done p {
  font: 36px Poppins-SemiBold;
  line-height: 45px;
  text-align: center;
  color: var(--gray-3);
}

.related-blogs {
  padding-bottom: 77px;
}

.back-homepage a {
  font: 16px Poppins-SemiBold;
  line-height: 24px;
  color: var(--gray);
  transition: var(--transition);
}
.back-homepage a:hover {
  color: var(--eduactive-color-2);
}
.back-homepage a img {
  width: 9px;
  height: 14px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: 4px;
}

.apply-request {
  background-color: rgba(237, 239, 253, 0.4);
  min-height: 90vh;
  padding: 66px 0 134px 0;
}

.apply-request-message {
  padding-bottom: 66px;
}

.request-title {
  font: 48px Poppins-SemiBold;
  line-height: 60px;
  text-align: center;
  color: var(--black);
  padding: 0;
  margin-bottom: 32px;
}

.request-message {
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
  font: 36px Poppins-SemiBold;
  line-height: 45px;
  text-align: center;
  color: var(--gray-3);
}
.request-message .request-rate {
  font: inherit;
  line-height: inherit;
  color: var(--system-right);
}
.request-message .education-programs {
  font: inherit;
  line-height: inherit;
  color: var(--eduactive-color-2);
}

.start-application-process {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 75px;
}
.start-application-process p {
  font: 24px Poppins-Medium;
  line-height: 30px;
  color: var(--black);
  padding: 0;
  margin-bottom: 24px;
}
.start-application-process a {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

.university-list-item {
  max-width: 330px;
  background: #ffffff;
  border: 1.2px solid #edeffd;
  border-radius: 28.8px;
  text-align: center;
  margin-bottom: 12px;
}

.university-qs {
  font: 20px Poppins-SemiBold;
  line-height: 30px;
  color: var(--eduactive-color-2);
  margin-bottom: 16px;
}
.university-qs span {
  font: 20px Poppins-Regular;
  color: var(--gray-3);
}

.qs-first-last {
  font-size: 13px;
  margin-bottom: 10px;
}
.qs-first-last span {
  font-size: inherit;
}

.qs-second-fourth {
  font-size: 17px;
  margin-bottom: 13px;
}
.qs-second-fourth span {
  font-size: inherit;
}

.university-degree-name {
  font: 22px Poppins-SemiBold;
  line-height: 20px;
  color: var(--black);
  margin-bottom: 4px;
  padding: 0;
}

.deegree-name-first-last {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}

.deegree-name-second-forth {
  font-size: 18px;
  line-height: 18px;
}

.university-loc {
  display: inline-block;
  font: 16px Poppins-SemiBold;
  line-height: 25px;
  color: #787B8E;
  margin-bottom: 16px;
}

.loc-first-last {
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}

.loc-second-forth {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 13px;
}

.university-location span {
  display: inline-block;
  font: 16px Poppins-SemiBold;
  line-height: 21px;
  color: var(--gray);
  width: calc(100% - 20px);
}
.university-location img {
  width: 14px;
  height: 17px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 6px;
}

.location-first-last span {
  font-size: 11px;
  line-height: 18px;
  width: calc(100% - 17px);
}
.location-first-last img {
  width: 11px;
  height: 14px;
  -o-object-fit: contain;
  object-fit: contain;
}

.location-second-fourth span {
  font-size: 13px;
}

.university-date span {
  display: inline-block;
  font: 16px Poppins-SemiBold;
  line-height: 21px;
  color: var(--gray);
  width: calc(100% - 22px);
}
.university-date img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 6px;
}

.date-first-last span {
  font-size: 11px;
  line-height: 18px;
}
.date-first-last img {
  width: 13px;
  height: 13px;
  -o-object-fit: contain;
  object-fit: contain;
}

.date-second-fourth span {
  font-size: 14px;
}

.university-money span {
  display: inline-block;
  font: 16px Poppins-SemiBold;
  line-height: 21px;
  color: var(--gray);
  width: calc(100% - 22px);
}
.university-money img {
  width: 16px;
  height: 14px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 6px;
}

.money-last-first span {
  font-size: 11px;
  line-height: 18px;
}
.money-last-first img {
  width: 13px;
  height: 11px;
  -o-object-fit: contain;
  object-fit: contain;
}

.money-second-forth span {
  font-size: 14px;
}

.university-duration {
  font: 20px Poppins-Regular;
  line-height: 30px;
  color: var(--gray-3);
  padding: 0;
  margin: 16px 0 0 0;
}
.university-duration span {
  font: 20px Poppins-SemiBold;
  color: var(--eduactive-color-2);
}

.duration-first-last {
  font-size: 13px;
  line-height: 18px;
  margin: 10px 0 0 0;
}
.duration-first-last span {
  font-size: inherit;
}

.duration-second-fourth {
  font-size: 16px;
}
.duration-second-fourth span {
  font-size: inherit;
}

.university-profile {
  padding: 10px 0 100px 0;
  background: var(--white);
  min-height: 90vh;
}

.university-profile-title {
  font: 36px Poppins-SemiBold;
  line-height: 54px;
  color: var(--black);
  padding: 0;
  margin-bottom: 32px;
}

.uni-apply-link div {
  font: 14px Poppins-Regular;
  line-height: 17px;
  color: var(--black);
  margin-top: 12px;
}

.uni-degree {
  font: 20px Poppins-SemiBold;
  line-height: 30px;
  color: var(--black);
}

.uni-loc {
  font: 14px Poppins-SemiBold;
  line-height: 21px;
  color: var(--gray);
}

@media screen and (max-width: 1399.98px) {
  .university-apply {
    background-position: center right;
    background-size: 600px;
  }
  .about-us-img {
    height: 500px;
  }
  .contactForm .inputLabels {
    width: 250px;
  }
}
@media screen and (max-width: 1199.98px) {
  .university-apply {
    background-image: none;
  }
  .about-us-img {
    height: 400px;
  }
  .about-us {
    padding: 0 0 80px 0;
  }
  .why-eduactive-grid-item {
    margin-bottom: 12px;
  }
  .why-eduactive {
    padding: 30px 0 100px 0;
  }
  .landing-blog-title {
    font-size: 20px;
  }
  .landing-blog-category {
    font-size: 10px;
    padding: 4.8px 3.64px;
  }
  .landing-blog-date {
    font-size: 14px;
  }
  .contactForm .inputLabels {
    width: 200px;
  }
  .blog-header {
    padding: 28px;
    margin: 32px 0;
  }
  .blog-title {
    font-size: 42px;
    margin: 0 0 24px 0;
  }
  .blog-desc {
    font-size: 28px;
  }
  .blog-grid {
    padding-bottom: 90px;
  }
  .article-main-pic {
    height: 450px;
  }
  .article-main-heading {
    max-width: 800px;
  }
  .article-title {
    font-size: 32px;
    line-height: 40px;
  }
  .article-subtitle {
    font-size: 28px;
    line-height: 36px;
  }
  .article-body {
    padding-top: 40px;
  }
  .article-body-content {
    margin-bottom: 24px;
  }
  .article-similiar {
    padding: 50px 0;
  }
  .program-list-block-img {
    height: 300px;
  }
  .program-list-block-img img {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .program-list-block-txt {
    text-align: center;
  }
  .program-list-block-txt span {
    font-size: 28px;
  }
  .program-list-block-txt p {
    font-size: 20px;
    line-height: 28px;
    margin: 20px 0;
  }
  .visit-scholarship {
    margin-top: 32px;
  }
  .apply-request {
    padding: 40px 0 80px 0;
  }
  .request-title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 28px;
  }
  .request-message {
    font-size: 24px;
    line-height: 32px;
  }
  .apply-request-message {
    padding-bottom: 32px;
  }
  .start-application-process {
    padding-top: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  .header .nav-link {
    display: inline-block;
    margin-left: 0;
  }
  .header .nav-link:hover, .header .nav-link:active, .header .nav-link:focus {
    transform: none;
  }
  .navbar-nav {
    margin-bottom: 14px;
  }
  .university-apply {
    padding: 40px 0 100px 0;
  }
  .page-slogan {
    font-size: 36px;
    text-align: center;
  }
  .page-desc {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
  }
  .form-first-inputs label,
  .form-second-inputs label {
    margin-right: 8px;
  }
  .apply-form-btns {
    text-align: center;
    margin-top: 28px;
  }
  .about-us-img {
    height: 300px;
  }
  .about-us-img img {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .about-us {
    padding: 0 0 60px 0;
  }
  .section-title {
    font-size: 44px;
    text-align: center;
    margin-bottom: 18px;
  }
  .about-description {
    font-size: 14px;
  }
  .why-eduactive {
    padding: 30px 0 80px 0;
  }
  .eduactive-grid-item-img {
    width: 88.67px;
    height: 80px;
  }
  .grid-heading {
    font-size: 18px;
  }
  .grid-txt {
    max-width: 270px;
  }
  .swiper-btn-next,
  .swiper-btn-prev,
  .swiper-btn2-next,
  .swiper-btn2-prev {
    display: none;
  }
  .landing-blog-details {
    padding: 24px 14px;
  }
  .landing-blog-details a {
    font-size: 14px;
  }
  .contact-us-image {
    height: 350px;
    margin-bottom: 12px;
  }
  .contactForm .inputLabels {
    width: 300px;
    margin-bottom: 24px;
  }
  .keep-updated-txt {
    margin: 0 auto 16px auto;
    max-width: 600px;
    text-align: center;
  }
  .blog-header {
    padding: 20px;
    margin: 28px 0;
  }
  .blog-title {
    font-size: 40px;
    margin: 0 0 20px 0;
    line-height: 40px;
  }
  .blog-desc {
    font-size: 24px;
  }
  .blog-details {
    padding: 28px 13px;
  }
  .blog-heading {
    font-size: 22px;
  }
  .blog-category {
    padding: 4.8px 3.64px;
  }
  .article-title {
    font-size: 28px;
    line-height: 32px;
  }
  .article-subtitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .article-main-heading {
    max-width: 580px;
    bottom: 24px;
    left: 24px;
  }
  .article-author {
    font-size: 16px;
  }
  .article-read-text,
  .article-view-text,
  .article-share-text {
    font-size: 14px;
  }
  .latest-blogs-section {
    margin-bottom: 18px;
    padding: 16px 5px 24px 16px;
  }
  .article-similiar {
    padding: 30px 0;
  }
  .article-body-content {
    padding: 0 24px;
  }
  .content-quote {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .sign-container .tab-content {
    padding: 32px 80px 56px 80px;
  }
  .login-google,
  .login-facebook {
    padding: 8px 12px;
  }
  .login-google span,
  .login-facebook span {
    font-size: 14px;
  }
  .sign-container {
    padding: 90px 0 150px 0;
  }
  .login-social-media {
    justify-content: center;
  }
  .reset-password {
    padding-top: 80px;
  }
  .reset-pass {
    padding: 40px 100px;
  }
  .set-password {
    padding-top: 100px;
  }
  .set-pass {
    padding: 46px 80px;
  }
  .subscribe-plan-item {
    padding: 18px 24px;
  }
  .plan-name {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .plan-list-item {
    margin-bottom: 12px;
  }
  .plan-list-item span {
    font-size: 14px;
    line-height: 28px;
    padding-left: 16px;
  }
  .plan-price {
    margin: 24px 0 12px 0;
    font-size: 18px;
  }
  .plan-list-item img {
    width: 20px;
    height: 15px;
  }
  .subscribe-plans-wrapper {
    padding: 50px;
  }
  .all-filters {
    display: flex;
    flex-wrap: wrap;
  }
  .all-filters .filterization {
    margin-bottom: 0;
    width: 170px;
    margin: 0 auto;
  }
  .scholarship-filter {
    padding: 16px 10px;
  }
  .study-programs {
    padding: 16px;
  }
  .filter-heading {
    text-align: center;
    font-size: 28px;
    margin-bottom: 18px;
    line-height: 28px;
  }
  .study-programs-heading {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
  }
  .filter-title {
    font-size: 20px;
  }
  .all-filters .form-check-label {
    font-size: 18px;
    line-height: 24px;
    width: calc(100% - 1em);
  }
  .program-list-block-txt span {
    font-size: 24px;
    line-height: 32px;
  }
  .program-list-block-txt p {
    font-size: 18px;
  }
  .program-list-block-img {
    height: 260px;
    margin-top: 24px;
  }
  .study-program-list-block {
    top: 220px;
  }
  .scholarship-title {
    font-size: 32px;
    line-height: 44px;
    height: 90px;
  }
  .apply-done {
    padding: 72px 0;
  }
  .related-blogs {
    padding-bottom: 42px;
  }
  .request-done h1 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .request-done p {
    font-size: 28px;
    line-height: 36px;
  }
  .apply-request {
    padding: 40px 0;
  }
  .request-title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .request-message {
    font-size: 20px;
    line-height: 24px;
  }
  .start-application-process p {
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (max-width: 767.98px) {
  .university-apply {
    padding: 30px 0 60px 0;
  }
  .page-slogan {
    font-size: 28px;
    line-height: 35px;
  }
  .page-desc {
    font-size: 14px;
    padding: 0 0 24px 0;
  }
  .form-first-inputs label,
  .form-second-inputs label {
    width: 45%;
  }
  .form-first-inputs,
  .form-second-inputs {
    max-width: 500px;
    margin: 0 auto;
  }
  .section-title {
    font-size: 38px;
    margin-bottom: 14px;
  }
  .about-us {
    padding: 0 0 40px 0;
  }
  .why-eduactive {
    padding: 30px 0 60px 0;
  }
  .eduactive-grid-item-img {
    width: 68.67px;
    height: 60px;
  }
  .grid-txt {
    font-size: 14px;
  }
  .landing-blogs {
    padding: 30px 0 70px 0;
  }
  .contact-us-image {
    height: 250px;
  }
  .contactForm .inputLabels {
    width: 250px;
  }
  .keep-updated-txt {
    font-size: 16px;
    line-height: 20px;
  }
  .blog-title {
    font-size: 36px;
    margin: 0 0 18px 0;
    line-height: 34px;
  }
  .blog-desc {
    font-size: 20px;
    line-height: 28px;
  }
  .blog-img {
    height: 250px;
  }
  .blog-date {
    font-size: 14px;
  }
  .blog-details {
    padding: 18px 13px;
  }
  .article-title {
    font-size: 24px;
    line-height: 28px;
  }
  .article-subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .article-read-text,
  .article-view-text,
  .article-share-text {
    font-size: 12px;
  }
  .article-author {
    font-size: 14px;
  }
  .article-author,
  .article-views,
  .article-read-time {
    margin-right: 32px;
  }
  .article-mini-info > div:not(:nth-child(4))::after {
    width: 10px;
    right: -20px;
  }
  .article-share-text {
    line-height: 0;
  }
  .article-main-pic {
    height: 350px;
  }
  .article-body-content {
    padding: 0 12px;
  }
  .latest-blogs-section {
    margin-bottom: 8px;
  }
  .content-quote span {
    font-size: 32px;
    line-height: 50px;
  }
  .content-quote {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .login-google {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .login-social-media {
    flex-direction: column;
  }
  .sign-in-validation {
    margin-top: 20px;
  }
  .reset-pass {
    padding: 30px 70px;
  }
  .reset-title {
    font-size: 28px;
    margin-bottom: 24px;
    line-height: 32px;
  }
  .reset-confirmation h4 {
    font-size: 28px;
    line-height: 32px;
  }
  .reset-confirmation span {
    font-size: 20px;
    line-height: 28px;
  }
  .set-password {
    padding-top: 80px;
  }
  .set-pass {
    padding: 36px 60px;
  }
  .set-pass h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  .subscribe-plans-wrapper {
    padding: 40px;
  }
  .all-filters .filterization {
    width: 160px;
  }
  .scholarship-title {
    font-size: 28px;
    line-height: 40px;
    height: 80px;
  }
  .scholarship-content h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .scholarship-info {
    margin-top: 42px;
  }
  .scholarship-content p {
    font-size: 14px;
    line-height: 20px;
  }
  .visit-scholarship a {
    padding: 12px;
  }
  .apply-done {
    padding: 42px 0;
  }
  .related-blogs {
    padding-bottom: 30px;
  }
  .request-done h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .request-done p {
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (max-width: 575.98px) {
  .header .nav-link {
    font-size: 14px;
    padding: 4px 0;
  }
  .navbar-toggler {
    font-size: 18px;
  }
  .footer {
    text-align: center;
  }
  .footer-copyright {
    font-size: 12px;
  }
  .university-apply {
    padding: 20px 0 60px 0;
  }
  .page-slogan {
    padding: 0 0 16px 0;
  }
  .form-first-inputs,
  .form-second-inputs {
    max-width: 100%;
  }
  .form-first-inputs label,
  .form-second-inputs label {
    margin-right: 0;
    width: 48%;
  }
  .apply-form-btns {
    margin-top: 24px;
  }
  .why-eduactive {
    padding: 0 0 30px 0;
  }
  .grid-heading {
    font-size: 16px;
    margin: 16px auto 8px auto;
    line-height: 20px;
  }
  .eduactive-grid-item-img {
    width: 58.67px;
    height: 53px;
  }
  .grid-txt {
    max-width: none;
  }
  .landing-blog-title {
    font-size: 18px;
  }
  .landing-blogs {
    padding: 20px 0 30px 0;
  }
  .contact-us-image {
    height: 180px;
    margin-bottom: 28px;
  }
  .contact-first-inputs,
  .contact-second-inputs {
    flex-direction: column;
  }
  .contactForm .inputLabels {
    width: 100%;
  }
  .article-main-heading {
    bottom: 12px;
    left: 12px;
  }
  .article-view-img img {
    width: 14px;
    height: 14px;
  }
  .article-view-text,
  .article-read-text {
    width: calc(100% - 14px);
  }
  .article-author,
  .article-view-text,
  .article-read-text {
    line-height: unset;
    line-height: 32px;
  }
  .article-mini-info > div:not(:nth-child(4))::after {
    top: 17px;
  }
  .article-read-img {
    width: unset;
    height: unset;
  }
  .article-read-img img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
  .content-quote span {
    font-size: 28px;
    line-height: 44px;
  }
  .content-body-heading {
    font-size: 32px;
    padding: 32px 0 16px 0;
  }
  .latest-date span {
    font-size: 14px;
  }
  .sign-container .tab-content {
    padding: 32px 40px 56px 40px;
  }
  .reset-pass {
    padding: 20px 40px;
  }
  .reset-title {
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 28px;
  }
  .reset-confirmation h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .reset-confirmation span {
    font-size: 16px;
    line-height: 24px;
  }
  .set-pass {
    padding: 26px 30px;
  }
  .set-pass h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 28px;
  }
  .subscribe-plans-wrapper {
    padding: 30px;
  }
  .all-filters {
    justify-content: space-between;
  }
  .all-filters .filterization {
    width: 170px;
    margin: 0;
  }
  .program-title {
    font-size: 18px;
    line-height: 24px;
  }
  .program-money span,
  .program-time span,
  .program-degree span {
    font-size: 14px;
  }
  .study-programs-heading {
    font-size: 24px;
  }
  .filter-heading {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .program-list-block-txt span {
    font-size: 20px;
    line-height: 28px;
  }
  .program-list-block-txt p {
    font-size: 16px;
  }
  .program-list-block-img {
    height: 230px;
    margin-top: 24px;
  }
  .scholarship-title {
    font-size: 24px;
    line-height: 32px;
    height: unset;
  }
  .apply-done {
    padding: 32px 0;
  }
  .request-done h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .request-done p {
    font-size: 18px;
    line-height: 24px;
  }
  .start-application-process p {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 476px) {
  .program-details > div {
    margin-right: 12px;
    margin-bottom: 8px;
  }
  .study-program-list-block {
    top: 240px;
  }
}