{% extends "base.html" %}
{% load static %}

{% block main %}

<style>
  .d-flex{
    margin: 100px 0;
  }
  label{
    margin-bottom: 15px;
    margin-top: 30px;
  }
</style>

{% load crispy_forms_tags %}
<div class="d-flex  justify-content-center">
   <form method="post">
     {% csrf_token %}
     {{ form |crispy }}

     {% if not pred %}

     
     <button type="submit" class="btn btn-primary mt-4" >
       Estimate
     </button>  
     {% endif %}
   </form>
 </div>
 
 {% if pred and pred > 0.5 %}
 
<div class="d-flex  justify-content-center">
 <div>
   <h2>Result: </h2> 
   <h3>  {{pred}} </h3> <br><br> 
   <h1>You have a good chance</h1>
 </div>

</div>


 
 
   
 {% endif %}





 {% if pred and pred < 0.5 %}
 
<div class="d-flex  justify-content-center">
 <div>
   <h1>Result: </h1> 
   <h3>  {{pred}} </h3>
   <p>You do not have a good chance</p>
 </div>

</div>


 
 
   
 {% endif %}




  
{% endblock main %}