{% extends "base.html" %}
{% load static %}

{% block main %}

{% load crispy_forms_tags %}
<div class="d-flex  justify-content-center">
   <form method="post">
     {% csrf_token %}
     {{ form |crispy }}

     {% if not pred %}

     
     <button type="submit" class="btn btn-primary" >
       Estimate
     </button>  
     {% endif %}
   </form>
 </div>
 
 {% if pred %}
 
<div class="d-flex  justify-content-center">
 <div>
   <h3>Salary: </h3> 
   <h1>  {{pred}} USD</h1>
 </div>

</div>
 
 
   
 {% endif %}
  
{% endblock main %}