{% extends "base.html" %}

{% load static %}

{% block main %}
    <div class="dummy-height"></div>
<main class="sections">
    <section class="apply-request">
        <div class="container">

            {% if universities %}
            <div class="apply-request-message">
                <h1 class="request-title">What a background! Congratulations!</h1>
                <p class="request-message">You have <span class="request-rate">high</span> admission chance to <span class="education-programs">one of the these education programs</span></p>
            </div>
            <div class="university-list d-flex flex-wrap align-items-center justify-content-center">
                {% for university in universities  %}
                <a class="text-decoration-none" href="{% url 'detail' university.id%}">
                    <div class="university-list-item university-one-five p-2">
                        <div class="university-qs qs-first-last">QS <span>#{{university.qs_rank}}</span></div>
                        <h5 class="university-degree-name deegree-name-first-last">{{university.program}}</h5>
                        <span class="university-loc loc-first-last">{{university.name}}</span>
                        <div class="university-details">
                            <div class="university-location location-first-last ">
                                <span><img src="{% static 'assets/css/icons/others/location.svg' %}" alt="Location">{{university.city}}, {{university.state}}</span>
                            </div>
                            <div class="university-date date-first-last ">
                                <span><img src="{% static 'assets/css/icons/others/time.svg' %}" alt="Date">{{university.deadline}}</span>
                            </div>
                            <div class="university-money money-last-first ">
                                <span><img src="{% static 'assets/css/icons/others/money.svg' %}" alt="Money">{{university.tution_fee}}</span>
                            </div>
                        </div>
                        <p class="university-duration duration-first-last"><span>Study duration</span>  {{university.study_duration}}</p>
                    </div>
                </a>
                {% endfor %}
                
            </div>
            <div class="start-application-process text-center">
                
                <p>Let’s appreciate this chance with a great application guided by our expert education consultants</p>
                <form method='post'>
                    {% csrf_token %}
                    <input type='hidden'></input>
                    <button title="Application Process" class="cs-btn w-100" type='submit'>Start Application Process</button>


                </form>
                
            </div>
            {% else %}
            <div class="apply-request-message">
                <h1 class="request-title">Ooops!</h1>
                <p class="request-message">We have <span class="request-rate">no</span> study program that matches <span class="education-programs">your background</span></p>
            </div>
            {% endif %}
            
        </div>
    </section>
</main>
 
{% endblock main %}
