{% extends "base.html" %}

{% load static %}

{% block main %}
    <div class="dummy-height"></div>
<main class="sections">
    <section class="apply-request">
        <div class="container">
            <div class="apply-request-message">
                <h1 class="request-title">What a background! Congratulations!</h1>
                <p class="request-message">You have <span class="request-rate">99.99%</span> admission chance to <span class="education-programs">one of the these education programs</span></p>
            </div>
            <div class="university-list d-flex flex-wrap align-items-center justify-content-center">
                {% for university in universities  %}
                <a class="text-decoration-none" href="{% url 'detail' university.id%}">
                    <div class="university-list-item university-one-five p-2">
                        <div class="university-qs qs-first-last">QS <span>#{{university.qs_rank}}</span></div>
                        <h5 class="university-degree-name deegree-name-first-last">{{university.program}}</h5>
                        <span class="university-loc loc-first-last">Texas University, San Antonio</span>
                        <div class="university-details">
                            <div class="university-location location-first-last ">
                                <span><img src="{% static 'assets/css/icons/others/location.svg' %}" alt="Location">Texas, San Antonio, ABŞ</span>
                            </div>
                            <div class="university-date date-first-last ">
                                <span><img src="{% static 'assets/css/icons/others/time.svg' %}" alt="Date">11.26.2022 (2 months)</span>
                            </div>
                            <div class="university-money money-last-first ">
                                <span><img src="{% static 'assets/css/icons/others/money.svg' %}" alt="Money">$35,000 Annual</span>
                            </div>
                        </div>
                        <p class="university-duration duration-first-last"><span>Program duration</span> 9 m</p>
                    </div>
                </a>
                {% endfor %}
                
            </div>
            <div class="start-application-process text-center">
                
                <p>Let’s appreciate this chance with a great application guided by our expert education consultants</p>
                <a title="Application Process" class="cs-btn w-100" href="{% url 'apply_form' %}">Start Application Process</a>
            </div>
        </div>
    </section>
</main>
 
{% endblock main %}
