<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduactive - Admission to your dream university</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/css/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/css/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/css/icons/favicons/favicon-16x16.png">
    <!-- Plugins -->
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" title="Home" href="index.html">edu<span>active</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-lg-auto mb-md-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" title="About" href="index.html#aboutUsSection">About US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" title="Scholarships" href="scholarships.html">Scholarhips</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" title="Blog" href="blog.html">Blogs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" title="Contact" href="index.html#contactUsSection">Contact Us</a>
                  </li>
                </ul>
                <a class="cs-btn login-link" href="login.html" title="Login">Login</a>
                <div class="profile-link-img">
                  <a class="text-decoration-none profile-link" title="Profile" href="profile.html">
                     <img src="assets/css/icons/others/profile.svg" alt="Profile">
                   </a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <div class="dummy-height"></div>
<main class="sections">
  <div class="apply-done-wrapper">
    <section class="well-done">
        <div class="container">
          <div class="apply-done">
            <div class="request-done">
              <h1>Well Done!</h1>
              <p>
                Thanks for letting us know. We will reach you out within 3 working
                days.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="related-blogs">
        <div class="container position-relative">
            <h2 class="section-title">Related Blogs</h2>
            <div class="swiper main-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper swiper-container">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="text-decoration-none" href="blog.html">
                            <div class="landing-blog-item">
                                <div class="landing-blog-img">
                                    <img src="assets/img/blog-item-img.jpg" alt="Eiffel Tower">
                                    <span class="landing-blog-category">Category 1</span>
                                </div>
                                <div class="landing-blog-details">
                                    <span class="landing-blog-date">11 Nov 2022</span>
                                    <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                    <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit...</p>
                                    <a class="text-decoration-none" href="#">Learn More <img
                                            src="assets/css/icons/others/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="text-decoration-none" href="blog.html">
                            <div class="landing-blog-item">
                                <div class="landing-blog-img">
                                    <img src="assets/img/blog-item-img.jpg" alt="Eiffel Tower">
                                    <span class="landing-blog-category">Category 1</span>
                                </div>
                                <div class="landing-blog-details">
                                    <span class="landing-blog-date">11 Nov 2022</span>
                                    <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                    <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit...</p>
                                    <a class="text-decoration-none" href="#">Learn More <img
                                            src="assets/css/icons/others/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="text-decoration-none" href="blog.html">
                            <div class="landing-blog-item">
                                <div class="landing-blog-img">
                                    <img src="assets/img/blog-item-img.jpg" alt="Eiffel Tower">
                                    <span class="landing-blog-category">Category 1</span>
                                </div>
                                <div class="landing-blog-details">
                                    <span class="landing-blog-date">11 Nov 2022</span>
                                    <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                    <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit...</p>
                                    <a class="text-decoration-none" href="#">Learn More <img
                                            src="assets/css/icons/others/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="text-decoration-none" href="blog.html">
                            <div class="landing-blog-item">
                                <div class="landing-blog-img">
                                    <img src="assets/img/blog-item-img.jpg" alt="Eiffel Tower">
                                    <span class="landing-blog-category">Category 1</span>
                                </div>
                                <div class="landing-blog-details">
                                    <span class="landing-blog-date">11 Nov 2022</span>
                                    <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                    <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit...</p>
                                    <a class="text-decoration-none" href="#">Learn More <img
                                            src="assets/css/icons/others/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="text-decoration-none" href="blog.html">
                            <div class="landing-blog-item">
                                <div class="landing-blog-img">
                                    <img src="assets/img/blog-item-img.jpg" alt="Eiffel Tower">
                                    <span class="landing-blog-category">Category 1</span>
                                </div>
                                <div class="landing-blog-details">
                                    <span class="landing-blog-date">11 Nov 2022</span>
                                    <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                    <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit...</p>
                                    <a class="text-decoration-none" href="#">Learn More <img
                                            src="assets/css/icons/others/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="text-decoration-none" href="blog.html">
                            <div class="landing-blog-item">
                                <div class="landing-blog-img">
                                    <img src="assets/img/blog-item-img.jpg" alt="Eiffel Tower">
                                    <span class="landing-blog-category">Category 1</span>
                                </div>
                                <div class="landing-blog-details">
                                    <span class="landing-blog-date">11 Nov 2022</span>
                                    <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                    <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit...</p>
                                    <a class="text-decoration-none" href="#">Learn More <img
                                            src="assets/css/icons/others/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="text-decoration-none" href="blog.html">
                            <div class="landing-blog-item">
                                <div class="landing-blog-img">
                                    <img src="assets/img/blog-item-img.jpg" alt="Eiffel Tower">
                                    <span class="landing-blog-category">Category 1</span>
                                </div>
                                <div class="landing-blog-details">
                                    <span class="landing-blog-date">11 Nov 2022</span>
                                    <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                    <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit...</p>
                                    <a class="text-decoration-none" href="#">Learn More <img
                                            src="assets/css/icons/others/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="text-decoration-none" href="blog.html">
                            <div class="landing-blog-item">
                                <div class="landing-blog-img">
                                    <img src="assets/img/blog-item-img.jpg" alt="Eiffel Tower">
                                    <span class="landing-blog-category">Category 1</span>
                                </div>
                                <div class="landing-blog-details">
                                    <span class="landing-blog-date">11 Nov 2022</span>
                                    <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                    <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit...</p>
                                    <a class="text-decoration-none" href="#">Learn More <img
                                            src="assets/css/icons/others/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev swiper-btn-prev"></div>
            <div class="swiper-button-next swiper-btn-next"></div>
            <div class="back-homepage text-center mt-5">
                <a title="Homepage" class="text-decoration-none" href="index.html">
                    Back to homepage 
                    <img src="assets/css/icons/others/right-arrow-mini.svg" alt="Back to Homepage">
                </a>
            </div>
        </div>
      </section>
  </div>
</main>
  <footer class="footer py-4">
    <div class="container">
       <div class="footer-wrapper d-sm-flex justify-content-sm-between align-items-sm-center">
        <div class="footer-brand-wrapper">
          <a title="Home" class="text-decoration-none footer-brand" href="index.html">edu<span>active</span></a>
        </div>
        <div class="footer-copyright">
          @2022 all rights reserved
        </div>
       </div>
    </div>
  </footer>
  <script src="assets/js/plugins.min.js"></script>
  <script src="assets/js/scripts.js"></script>
</body>
</html>