<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduactive - Admission to your dream university</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/css/icons/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/css/icons/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/css/icons/favicons/favicon-16x16.png' %}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" title="Home" href="{% url 'landing'%}">edu<span>active</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-lg-auto mb-md-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" title="About" href="{% url 'landing'%}#aboutUsSection">About US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" title="Scholarships" href="{%url 'scholarships' %}">Scholarhips</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" title="Blog" href="{%url 'blogs' %}">Blogs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" title="Contact" href="{%url 'landing' %}#contactUsSection">Contact Us</a>
                  </li>
                </ul>
                {% if user.is_authenticated %}
                {% comment %} <div class="profile-link-img"> {% endcomment %}
                  <a class="text-decoration-none profile-link" title="Profile" href="profile.html">
                     <img src="{% static 'assets/css/icons/others/profile.svg' %}" alt="Profile">
                   </a>
                {% comment %} </div> {% endcomment %}

                {% else %}
                <a class="cs-btn login-link" href="{% url 'authenticate'%}" title="Login">Login</a>
                {% endif %}

                
                
                
              </div>
            </div>
          </nav>
    </header>




{% block main %}
  
{% endblock main %}


<footer class="footer py-4">
  <div class="container">
     <div class="footer-wrapper d-sm-flex justify-content-sm-between align-items-sm-center">
      <div class="footer-brand-wrapper">
        <a title="Home" class="text-decoration-none footer-brand" href="index.html">edu<span>active</span></a>
      </div>
      <div class="footer-copyright">
        @2022 all rights reserved
      </div>
     </div>
  </div>
</footer>
<script src="{% static 'assets/js/plugins.min.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>





  

  