{% extends "base.html" %}
{% load static %}




{% block main %}
    <article>
        <div class="container">
            <div class="article-header position-relative">
                <div class="article-main-pic">
                    <img src="{% static 'assets/img/article-pic.jpg' %}" alt="Article Picture">
                </div>
                <div class="article-main-heading">
                    <h1 class="article-title">5 Efficient Rules How to Organize Your STUDY ABROAD LIST</h1>
                    <h2 class="article-subtitle">Relationship tips couples therapists are giving all the time</h2>
                    <div class="article-mini-info d-flex align-items-center flex-wrap">
                        <div class="article-author">by Joanna Wellick</div>
                        <div class="article-read-time d-flex align-items-center">
                            <div class="article-read-img">
                                <img src="{% static 'assets/css/icons/others/clock.svg' %}" alt="Read Time">
                            </div>
                            <div class="article-read-text">2 minute read</div>
                        </div>
                        <div class="article-views d-flex align-items-center">
                            <div class="article-view-img">
                                <img src="{% static 'assets/css/icons/others/view.svg' %}" alt="View">
                            </div>
                            <div class="article-view-text">1.6K views</div>
                        </div>
                        <div class="article-share d-flex align-items-center">
                            <div class="article-share-imgs d-flex align-items-center">
                                <img class="me-1" src="{% static 'assets/css/icons/others/facebook.svg' %}" alt="Facebook">
                                <img class="me-1" src="{% static 'assets/css/icons/others/twitter.svg' %}" alt="Twitter">
                                <img src="{% static 'assets/css/icons/others/pinterest.svg' %}" alt="">
                            </div>
                            <div class="article-share-text">1.2K shares</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-body">
                <div class="row">
                    <div class="col-12  col-xl-8 col-xxl-9">
                        <div class="article-body-content">
                            Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail. Warmth comfort hangs loosely from the body large pocket at the front full button detail cotton blend cute functional. Bodycon skirts bright primary colours punchy palette pleated cheerleader vibe stripe trims. Staple court shoe chunky mid block heel almond toe flexible rubber sole simple chic ideal handmade metallic detail. Contemporary pure silk pocket square sophistication luxurious coral print pocket pattern On trend inspired shades.
                            <br><br>
                            Striking pewter studded epaulettes silver zips inner drawstring waist channel urban edge single-breasted jacket. Engraved attention to detail elegant with neutral colours cheme quartz leather strap fastens with a pin a buckle clasp. Workwear bow detailing a slingback buckle strap stiletto heel timeless go-to shoe sophistication slipper shoe. Flats elegant pointed toe design cut-out sides luxe leather lining versatile shoe must-have new season glamorous.
                            <p class="content-quote d-flex ">
                                <img src="{% static 'assets/css/icons/others/mark.svg' %}" alt="Quote Mark">
                                <span>Knicker lining concealed back zip fasten swing style high waisted double layer full pattern floral.</span></p>
                            Foam padding in the insoles leather finest quality staple flat slip-on design pointed toe off-duty shoe. Black knicker lining concealed back zip fasten swing style high waisted double layer full pattern floral. Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design
                            <br><br>
                            Eget aenean tellus venenatis. Donec odio tempus. Felis arcu pretium metus nullam quam aenean sociis quis sem neque vici libero. Venenatis nullam fringilla pretium magnis aliquam nunc vulputate integer augue ultricies cras. Eget viverra feugiat cras ut. Sit natoque montes tempus ligula eget vitae pede rhoncus maecenas consectetuer commodo condimentum aenean.
                            <h4 class="content-body-heading">Eu ridiculus fringilla aenean</h4>
                            Sociis consequat adipiscing sit curabitur donec sem luctus cras natoque vulputate dolor eget dapibus. Nec vitae eros ullamcorper laoreet dapibus mus ac ante viverra. A aenean sit augue curabitur et parturient nisi sed enim. Nulla nec quis sit quisque sem commodo ultricies neque. Lorem eget venenatis dui ante luctus ultricies tellus montes. Quis in sapien tempus.
                            <br><br>
                            <ul>
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, accusamus!</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ul>
                            See-through delicate embroidered organza blue lining luxury acetate-mix stretch pleat detailing. Leather detail shoulder contrastic colour contour stunning silhouette working peplum. Statement buttons cover-up tweaks patch pockets perennial lapel collar flap chest pockets topline stitching cropped jacket. Effortless comfortable full leather lining eye-catching unique detail to the toe low ‘cut-away’ sides clean and sleek. Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design.

                        </div>
                    </div>
                    <div class="col-12  col-xl-4 col-xxl-3">
                        <h4 class="latest-title">The Latest</h4>
                        <div class="latest-blogs">
                           <a class="text-decoration-none" href="#">
                            <div class="latest-blogs-section">
                                <h5 class="latest-blogs-title">10 Habits That Will Change Your Live for the Better If envy and jealousy are impacting your friendships test test test
                                </h5>
                                <div class="latest-date d-flex align-items-center">
                                    <p>June 21,2022</p>
                                    <img src="{% static 'assets/css/icons/others/clock.svg' %}" alt="Read Time">
                                    <span>2 minute read </span>
                                </div>
                            </div>
                           </a>
                           <a class="text-decoration-none" href="#">
                            <div class="latest-blogs-section">
                                <h5 class="latest-blogs-title">10 Habits That Will Change Your Live for the Better If envy and jealousy are impacting your friendships test test test
                                </h5>
                                <div class="latest-date d-flex align-items-center">
                                    <p>June 21,2022</p>
                                    <img src="{% static 'assets/css/icons/others/clock-black.svg' %}" alt="Read Time">
                                    <span>2 minute read </span>
                                </div>
                            </div>
                           </a>
                           <a class="text-decoration-none" href="#">
                            <div class="latest-blogs-section">
                                <h5 class="latest-blogs-title">10 Habits That Will Change Your Live for the Better If envy and jealousy are impacting your friendships test test test
                                </h5>
                                <div class="latest-date d-flex align-items-center">
                                    <p>June 21,2022</p>
                                    <img src="{% static 'assets/css/icons/others/clock-black.svg' %}" alt="Read Time">
                                    <span>2 minute read </span>
                                </div>
                            </div>
                           </a>
                           <a class="text-decoration-none" href="#">
                            <div class="latest-blogs-section">
                                <h5 class="latest-blogs-title">10 Habits That Will Change Your Live for the Better If envy and jealousy are impacting your friendships test test test
                                </h5>
                                <div class="latest-date d-flex align-items-center">
                                    <p>June 21,2022</p>
                                    <img src="{% static 'assets/css/icons/others/clock-black.svg' %}" alt="Read Time">
                                    <span>2 minute read </span>
                                </div>
                            </div>
                           </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-similiar position-relative">
                <h2 class="section-title">You May Also Like</h2>
                <div class="swiper main-swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper swiper-container">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a class="text-decoration-none" href="blog.html">
                                <div class="landing-blog-item">
                                    <div class="landing-blog-img">
                                        <img src="{% static 'assets/img/blog-item-img.jpg' %}" alt="Eiffel Tower">
                                        <span class="landing-blog-category">Category 1</span>
                                    </div>
                                    <div class="landing-blog-details">
                                        <span class="landing-blog-date">11 Nov 2022</span>
                                        <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                        <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit...</p>
                                        <a class="text-decoration-none" href="#">Learn More <img
                                                src="{% static 'assets/css/icons/others/right-arrow.svg' %}" alt=""></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="text-decoration-none" href="blog.html">
                                <div class="landing-blog-item">
                                    <div class="landing-blog-img">
                                        <img src="{% static 'assets/img/blog-item-img.jpg' %}" alt="Eiffel Tower">
                                        <span class="landing-blog-category">Category 1</span>
                                    </div>
                                    <div class="landing-blog-details">
                                        <span class="landing-blog-date">11 Nov 2022</span>
                                        <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                        <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit...</p>
                                        <a class="text-decoration-none" href="#">Learn More <img
                                                src="{% static 'assets/css/icons/others/right-arrow.svg' %}" alt=""></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="text-decoration-none" href="blog.html">
                                <div class="landing-blog-item">
                                    <div class="landing-blog-img">
                                        <img src="{% static 'assets/img/blog-item-img.jpg' %}" alt="Eiffel Tower">
                                        <span class="landing-blog-category">Category 1</span>
                                    </div>
                                    <div class="landing-blog-details">
                                        <span class="landing-blog-date">11 Nov 2022</span>
                                        <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                        <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit...</p>
                                        <a class="text-decoration-none" href="#">Learn More <img
                                                src="{% static 'assets/css/icons/others/right-arrow.svg' %}" alt=""></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="text-decoration-none" href="blog.html">
                                <div class="landing-blog-item">
                                    <div class="landing-blog-img">
                                        <img src="{% static 'assets/img/blog-item-img.jpg' %}" alt="Eiffel Tower">
                                        <span class="landing-blog-category">Category 1</span>
                                    </div>
                                    <div class="landing-blog-details">
                                        <span class="landing-blog-date">11 Nov 2022</span>
                                        <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                        <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit...</p>
                                        <a class="text-decoration-none" href="#">Learn More <img
                                                src="{% static 'assets/css/icons/others/right-arrow.svg' %}" alt=""></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="text-decoration-none" href="blog.html">
                                <div class="landing-blog-item">
                                    <div class="landing-blog-img">
                                        <img src="{% static 'assets/img/blog-item-img.jpg' %}" alt="Eiffel Tower">
                                        <span class="landing-blog-category">Category 1</span>
                                    </div>
                                    <div class="landing-blog-details">
                                        <span class="landing-blog-date">11 Nov 2022</span>
                                        <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                        <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit...</p>
                                        <a class="text-decoration-none" href="#">Learn More <img
                                                src="{% static 'assets/css/icons/others/right-arrow.svg' %}" alt=""></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="text-decoration-none" href="blog.html">
                                <div class="landing-blog-item">
                                    <div class="landing-blog-img">
                                        <img src="{% static 'assets/img/blog-item-img.jpg' %}" alt="Eiffel Tower">
                                        <span class="landing-blog-category">Category 1</span>
                                    </div>
                                    <div class="landing-blog-details">
                                        <span class="landing-blog-date">11 Nov 2022</span>
                                        <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                        <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit...</p>
                                        <a class="text-decoration-none" href="#">Learn More <img
                                                src="{% static 'assets/css/icons/others/right-arrow.svg' %}" alt=""></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="text-decoration-none" href="blog.html">
                                <div class="landing-blog-item">
                                    <div class="landing-blog-img">
                                        <img src="{% static 'assets/img/blog-item-img.jpg' %}" alt="Eiffel Tower">
                                        <span class="landing-blog-category">Category 1</span>
                                    </div>
                                    <div class="landing-blog-details">
                                        <span class="landing-blog-date">11 Nov 2022</span>
                                        <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                        <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit...</p>
                                        <a class="text-decoration-none" href="#">Learn More <img
                                                src="{% static 'assets/css/icons/others/right-arrow.svg' %}" alt=""></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="text-decoration-none" href="blog.html">
                                <div class="landing-blog-item">
                                    <div class="landing-blog-img">
                                        <img src="{% static 'assets/img/blog-item-img.jpg' %}" alt="Eiffel Tower">
                                        <span class="landing-blog-category">Category 1</span>
                                    </div>
                                    <div class="landing-blog-details">
                                        <span class="landing-blog-date">11 Nov 2022</span>
                                        <h3 class="landing-blog-title"><strong>Blog Title...</strong></h3>
                                        <p class="landing-blog-txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit...</p>
                                        <a class="text-decoration-none" href="#">Learn More <img
                                                src="{% static 'assets/css/icons/others/right-arrow.svg' %}" alt=""></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev swiper-btn2-prev"></div>
                <div class="swiper-button-next swiper-btn2-next"></div>
            </div>
        </div>
    </article>
{% endblock main %}