{% extends "base.html" %}
{% load static %}




{% block main %}

{% for blog in blogs  %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{blog.image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{blog.title}}</h5>

      {% if blog.quote %}
      <h3 class="card-text">{{blog.quote}}</h3>
      {% endif %}
      <p class="card-text">{{blog.created_at}}</p>

      
      
      <p class="card-text">{{blog.content}}</p>
      
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  {% endfor %}

{% endblock main %}
