{% extends "base.html" %}
{% load static %}




{% block main %}
<style>
  table { 
    width: 750px; 
    border-collapse: collapse; 
    margin:50px auto;
    }
  
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
    }
  
  th { 
    background: #3498db; 
    color: white; 
    font-weight: bold; 
    }
  
  td, th { 
    padding: 10px; 
    border: 1px solid #ccc; 
    text-align: left; 
    font-size: 18px;
    }
  
  /* 
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  
    table { 
        width: 100%; 
    }
  
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
  
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
      /* Label the data */
      content: attr(data-column);
  
      color: #000;
      font-weight: bold;
    }
  
  }
</style>
  
  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>${{university.fee}}</span>
                  </div>
                  <div class="date">
                    <h4>%{{university.acceptance_rate}}</h4>
                  </div>
                  <a href="meeting-details.html"><img src="{% static 'assets/images/single-meeting.jpg' %}" alt=""></a>
                </div>
                <div class="down-content">
                  <a><h1>{{university.name}}</h1></a>
                  <h4 class='mt-2'>{{university.degree}} of {{university.program}}</h4>
                  <p class="description">
                   {{university.bio}}
                  </p>
                  <div class="row">
                    <table>
                      <thead>
                        <tr>
                          <th>Email</th>
                          <th>Fee Waiver</th>
                          <th>City</th>
                          <th>Study Duration</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-column="First Name">{{university.email}}</td>
                          <td data-column="Last Name">{{university.fee_waiver}}</td>
                          <td data-column="Job Title">{{university.city}}</td>
                          <td data-column="Twitter">{{university.study_duration}} years</td>
                        </tr>
                        
                      </tbody>
                    </table>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{%url 'landing'%}">Back To Home page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

  {% endblock main %}


  
