{% extends "base.html" %}
{% load static %}
{% block main %}
{% load crispy_forms_tags %}
  
<style>
  label{
    color: aliceblue;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }

  .form{
    display: flex;
    justify-content: space-between;
  }

  .form-group{
    width: 30%;
  }
  
  
</style>
  

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              
              <div class="filters">
                <form method="get">
                  {% csrf_token %}
                  <div class="form">
                    {{ form | crispy }}
                  </div>
                  
                  <fieldset>
                    <button type="submit" id="form-submit" class="btn btn-primary m-5">Filter</button>
                  </fieldset>
              </form>
                
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                {% for listing in filters.qs  %}

                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>${{listing.fee}}</span>
                      </div>
                      <a href="meeting-details.html"><img src="assets/images/meeting-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>{{listing.acceptance_rate }}</h6>
                      </div>
                      <a href="{%url 'detail' listing.id %}"><h4>{{listing.name}}</h4></a>
                      <p> <b>{{listing.program}}</b>  Program</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
  </section> 

 
{% endblock main %}