
{% extends "base.html" %} {% load static %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block main %}

<div class="dummy-height"></div>
<main class="sections">
  <section class="university-apply">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-8 col-xxl-7">
          <h1 class="page-slogan">
            Admission to your dream university is close as one click
          </h1>
          <p class="page-desc">
            With Eduactive, you can get detailed information about top 1000
            universities, check your admission probability and apply to the
            programs with a few clicks.
          </p>
          <form method="post" class="easy-apply-form" name="easyApplyForm">
            {% csrf_token %}
            <div class="form-first-inputs">
              <label for="gpa-label">GPA {{form1.gpa}} </label>
              <label for="ielts-label">IELTS {{form1.ielts}} </label>
              <label for="toefl-label">TOEFL {{form1.toefl}} </label>
              <label for="academic-label"
                >Study Program {{form1.study_field}}
              </label>
            </div>
            <div class="form-second-inputs">
              <label for="gre-label">GRE {{form1.gre}} </label>
              <label for="gmat-label">GMAT {{form1.gmat}} </label>
              <label for="sat-label">Region {{form1.region}} </label>
              <label for="study-label">Degree {{form1.degree}} </label>
            </div>
            <div class="apply-form-btns">
              <button name="applyBtn" class="cs-btn w-20" type="submit">
                Easy Apply
              </button>
              {% comment %}
              <a
                class="search-programs"
                title="Universities"
                href="{% url 'scholarships' %}"
                >Search Programs
                <img
                  src="{% static 'assets/css/icons/others/select-arrow.svg' %}"
                  alt="Search Programs"
              /></a>
              {% endcomment %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section id="aboutUsSection" class="about-us">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-xl-6">
          <div class="about-us-img">
            <img
              src="{% static 'assets/img/about-us-img.png' %}"
              alt="About Us"
            />
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6">
          <h2 class="section-title">About Us</h2>
          <p class="about-description">
            Eduactive is a user-friendly platform that uses special algorithm to
            help students find the perfect university programs for them. We have
            a big database that includes the top 1000 universities, and we make
            sure to keep this information up-to-date. Our goal is to help
            students make smart choices about their education and future
            careers. We do this by matching students with university programs
            based on their backgrounds, interests, budgets, locations, and
            career goals. This way, students can explore a list of programs that
            are just right for them.<span
              >On our platform, students can find important details about
              universities and their programs, like tuition fees, how long the
              programs are, what it takes to get in, and rankings. We also cover
              a wide range of subjects, so everyone can find something they're
              interested in.</span
            >
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="why-eduactive">
    <div class="container">
      <h2 class="section-title">Why Eduactive?</h2>
      <div class="why-eduactive-grid pt-sm-4">
        <div class="row">
          <div class="col-12 col-sm-6 col-xl-4">
            <div class="why-eduactive-grid-item text-center">
              <div class="eduactive-grid-item-img">
                <img
                  src="{% static 'assets/css/icons/others/grid-icon1.svg' %}"
                  alt="Time Saving"
                />
              </div>
              <h4 class="grid-heading">Time Saving</h4>
              <p class="grid-txt">
                No need to spend hours exploring! With just a few clicks, you
                can easily familiarize yourself with the universities of your
                choice and apply.
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4">
            <div class="why-eduactive-grid-item text-center">
              <div class="eduactive-grid-item-img">
                <img
                  src="{% static 'assets/css/icons/others/grid-icon2.svg' %}"
                  alt="Time Saving"
                />
              </div>
              <h4 class="grid-heading">Accessible Information</h4>
              <p class="grid-txt">
                Access to more than 300 education and scholarship programs
                currently available in full detail.
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4">
            <div class="why-eduactive-grid-item text-center">
              <div class="eduactive-grid-item-img">
                <img
                  src="{% static 'assets/css/icons/others/grid-icon3.svg' %}"
                  alt="Time Saving"
                />
              </div>
              <h4 class="grid-heading">
                Best Matching System to Education Programs
              </h4>
              <p class="grid-txt">
                Worried about getting accepted? No need to worry! By recording
                your educational information, we present the most suitable
                universities to which you can be admitted!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="landing-blogs">
    <div class="container position-relative">
      <h2 class="section-title">Blogs</h2>
      <div class="swiper main-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper swiper-container">
          <!-- Slides -->
          <div class="swiper-slide">
            <a class="text-decoration-none" href="blog.html">
              <div class="landing-blog-item">
                <div class="landing-blog-img">
                  <img
                    src="{% static 'assets/img/blog-item-img.jpg' %}"
                    alt="Eiffel Tower"
                  />
                  <span class="landing-blog-category">Category 1</span>
                </div>
                <div class="landing-blog-details">
                  <span class="landing-blog-date">11 Nov 2022</span>
                  <h3 class="landing-blog-title">
                    <strong>Blog Title...</strong>
                  </h3>
                  <p class="landing-blog-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                  </p>
                  <a class="text-decoration-none" href="#"
                    >Learn More
                    <img
                      src="{% static 'assets/css/icons/others/right-arrow.svg' %}"
                      alt=""
                  /></a>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="text-decoration-none" href="blog.html">
              <div class="landing-blog-item">
                <div class="landing-blog-img">
                  <img
                    src="{% static 'assets/img/blog-item-img.jpg' %}"
                    alt="Eiffel Tower"
                  />
                  <span class="landing-blog-category">Category 1</span>
                </div>
                <div class="landing-blog-details">
                  <span class="landing-blog-date">11 Nov 2022</span>
                  <h3 class="landing-blog-title">
                    <strong>Blog Title...</strong>
                  </h3>
                  <p class="landing-blog-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                  </p>
                  <a class="text-decoration-none" href="#"
                    >Learn More
                    <img
                      src="{% static 'assets/css/icons/others/right-arrow.svg' %}"
                      alt=""
                  /></a>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="text-decoration-none" href="blog.html">
              <div class="landing-blog-item">
                <div class="landing-blog-img">
                  <img
                    src="{% static 'assets/img/blog-item-img.jpg' %}"
                    alt="Eiffel Tower"
                  />
                  <span class="landing-blog-category">Category 1</span>
                </div>
                <div class="landing-blog-details">
                  <span class="landing-blog-date">11 Nov 2022</span>
                  <h3 class="landing-blog-title">
                    <strong>Blog Title...</strong>
                  </h3>
                  <p class="landing-blog-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                  </p>
                  <a class="text-decoration-none" href="#"
                    >Learn More
                    <img
                      src="{% static 'assets/css/icons/others/right-arrow.svg' %}"
                      alt=""
                  /></a>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="text-decoration-none" href="blog.html">
              <div class="landing-blog-item">
                <div class="landing-blog-img">
                  <img
                    src="{% static 'assets/img/blog-item-img.jpg' %}"
                    alt="Eiffel Tower"
                  />
                  <span class="landing-blog-category">Category 1</span>
                </div>
                <div class="landing-blog-details">
                  <span class="landing-blog-date">11 Nov 2022</span>
                  <h3 class="landing-blog-title">
                    <strong>Blog Title...</strong>
                  </h3>
                  <p class="landing-blog-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                  </p>
                  <a class="text-decoration-none" href="#"
                    >Learn More
                    <img
                      src="{% static 'assets/css/icons/others/right-arrow.svg' %}"
                      alt=""
                  /></a>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="text-decoration-none" href="blog.html">
              <div class="landing-blog-item">
                <div class="landing-blog-img">
                  <img
                    src="{% static 'assets/img/blog-item-img.jpg' %}"
                    alt="Eiffel Tower"
                  />
                  <span class="landing-blog-category">Category 1</span>
                </div>
                <div class="landing-blog-details">
                  <span class="landing-blog-date">11 Nov 2022</span>
                  <h3 class="landing-blog-title">
                    <strong>Blog Title...</strong>
                  </h3>
                  <p class="landing-blog-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                  </p>
                  <a class="text-decoration-none" href="#"
                    >Learn More
                    <img
                      src="{% static 'assets/css/icons/others/right-arrow.svg' %}"
                      alt=""
                  /></a>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="text-decoration-none" href="blog.html">
              <div class="landing-blog-item">
                <div class="landing-blog-img">
                  <img
                    src="{% static 'assets/img/blog-item-img.jpg' %}"
                    alt="Eiffel Tower"
                  />
                  <span class="landing-blog-category">Category 1</span>
                </div>
                <div class="landing-blog-details">
                  <span class="landing-blog-date">11 Nov 2022</span>
                  <h3 class="landing-blog-title">
                    <strong>Blog Title...</strong>
                  </h3>
                  <p class="landing-blog-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                  </p>
                  <a class="text-decoration-none" href="#"
                    >Learn More
                    <img
                      src="{% static 'assets/css/icons/others/right-arrow.svg' %}"
                      alt=""
                  /></a>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="text-decoration-none" href="blog.html">
              <div class="landing-blog-item">
                <div class="landing-blog-img">
                  <img
                    src="{% static 'assets/img/blog-item-img.jpg' %}"
                    alt="Eiffel Tower"
                  />
                  <span class="landing-blog-category">Category 1</span>
                </div>
                <div class="landing-blog-details">
                  <span class="landing-blog-date">11 Nov 2022</span>
                  <h3 class="landing-blog-title">
                    <strong>Blog Title...</strong>
                  </h3>
                  <p class="landing-blog-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                  </p>
                  <a class="text-decoration-none" href="#"
                    >Learn More
                    <img
                      src="{% static 'assets/css/icons/others/right-arrow.svg' %}"
                      alt=""
                  /></a>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="text-decoration-none" href="blog.html">
              <div class="landing-blog-item">
                <div class="landing-blog-img">
                  <img
                    src="{% static 'assets/img/blog-item-img.jpg' %}"
                    alt="Eiffel Tower"
                  />
                  <span class="landing-blog-category">Category 1</span>
                </div>
                <div class="landing-blog-details">
                  <span class="landing-blog-date">11 Nov 2022</span>
                  <h3 class="landing-blog-title">
                    <strong>Blog Title...</strong>
                  </h3>
                  <p class="landing-blog-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                  </p>
                  <a class="text-decoration-none" href="#"
                    >Learn More
                    <img
                      src="{% static 'assets/css/icons/others/right-arrow.svg' %}"
                      alt=""
                  /></a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev swiper-btn-prev"></div>
      <div class="swiper-button-next swiper-btn-next"></div>
    </div>
  </section>
  <section id="contactUsSection" class="contact-us">
    <div class="container">
      <h2 class="section-title">Contact Us</h2>
      <div class="row">
        <div class="col-12 col-lg-6 order-lg-1">
          <div class="contact-us-image">
            <img
              src="{% static 'assets/img/contact-us-animated.gif' %}"
              alt=""
            />
          </div>
        </div>
        <div class="col-12 col-lg-6 order-lg-0">
          <div class="contact-us-form">
            <form name="contactForm" class="contactForm" method="post">
              {% csrf_token %}
              <div
                class="contact-first-inputs d-flex justify-content-sm-between align-items-sm-center"
              >
                <label class="inputLabels" for="firstName"
                  >First Name {{form.first_name}}
                </label>

                <label class="inputLabels" for="lastName"
                  >Last Name {{form.last_name}}
                </label>
              </div>
              <div
                class="contact-second-inputs d-flex justify-content-sm-between align-items-sm-center"
              >
                <label class="inputLabels" for="email"
                  >Email {{form.email}}
                </label>
                <label class="inputLabels" for="phoneNumber"
                  >Phone Number {{form.number}}
                </label>
              </div>
              <div class="contact-third-inputs">
                <label class="textareaLabel" for="message"
                  >Message {{form.message}}
                </label>
              </div>
              <div class="contact-btn-sumbit">
                <button name="contactBtn" class="cs-btn w-100" type="submit">
                  Submit
                </button>
                <span>Thanks for submitting✌</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="keep-updated">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h2 class="section-title">Keep Updated!</h2>
          <p class="keep-updated-txt">
            Subscribe us to get updated for the latest news about scholarships,
            education programs and other study abroad events
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="keep-updated-inputs">
            <label for="subscribeEmail"
              >Email
              <input
                placeholder="@email.com"
                class="cs-input mt-2"
                type="email"
                name="subscribeEmail"
                id="subscribeEmail"
              />
            </label>
            <div class="keep-updated-btn mt-4">
              <button class="cs-btn w-100" type="submit">Submit</button>
              <span>Thanks for submitting✌</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock main %}
