<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>EduActive</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

  </head>

<style>

  
  
</style>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <!-- <div class="left-content">
            <p>This is an educational <em>HTML CSS</em> template by TemplateMo website.</p>
          </div> -->
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          EduActive
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="{% url 'landing' %}" class="active">Home</a></li>
                          <li><a href="{%url 'filters'%}">Universities</a></li>
                          <li><a href="{%url 'admission' %}">Prediction</a></li>
                          
                          <!-- <li class="scroll-to-section"><a href="{%url 'filters' %}">Universities</a></li>  -->
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                          {% if user.is_authenticated %}
                          <li class="has-sub">
                            <a href="javascript:void(0)">{{user.username}}</a>
                            <ul class="sub-menu">
                                <li><a href="{%url 'log_out' %}">Logout</a></li>
                            </ul>
                          </li>
                            
                          {% else %}
                          <li class="has-sub">
                            <a href="javascript:void(0)">User</a>
                            <ul class="sub-menu">
                                <li><a href="{%url 'log_in' %}">Login</a></li>
                                <li><a href="{%url 'register' %}">Register</a></li>
                            </ul>
                          </li>
                            
                          {% endif %} 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->
  


  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{% static 'assets/images/course-video.mp4' %}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Hello Students</h6>
              <h2>Welcome to EduActive</h2>
              <p>This is an education platform provided by <b>LighSpeed</b> team.Check universities and enjoy the appliying process</p>
              
              {%if user.is_authenticated == False%}
              <div class="main-button-red">
                  <div ><a href="{%url 'log_in' %}">Join Us Now!</a></div>
              </div>
              {%endif%}
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  

  {% comment %} <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Upcoming Meetings</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Meeting Catgories</h4>
            <ul>
              <li><a href="#">Sed tempus enim leo</a></li>
              <li><a href="#">Aenean molestie quis</a></li>
              <li><a href="#">Cras et metus vestibulum</a></li>
              <li><a href="#">Nam et condimentum</a></li>
              <li><a href="#">Phasellus nec sapien</a></li>
            </ul>
            <div class="main-button-red">
              <a href="meetings.html">All Upcoming Meetings</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$22.00</span>
                  </div>
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-01.jpg' %}" alt="New Lecturer Meeting"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>10</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>New Lecturers Meeting</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$36.00</span>
                  </div>
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-02.jpg' %}" alt="Online Teaching"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>24</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Online Teaching Techniques</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$14.00</span>
                  </div>
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-03.jpg' %}" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>26</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Higher Education Conference</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$48.00</span>
                  </div>
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-04.jpg' %}" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>30</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Student Training Meetup</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Popular Universities</h2>
          </div>
        </div>
        
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            {% for university in universitys %}

            {% if university.bio|length > 200  and university.program|length < 25%}
              <div class="item">
                <!-- <img src="{% static 'assets/images/course-01.jpg' %}" alt="Course One"> -->
                
                <div class="down-content">
                  
                  <a href="{%url 'detail' university.id %}"><h4>{{university.name}}</h4></a>
                  <div class="info">
                    <div class="row">
                      <div class="col-12">
                        <p>
                          {{university.bio | truncatewords:50}}
                        </p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="info">
                    <div class="row">
                      <div class="col-4">
                        Degree: <span>{{university.degree}}</span>
                      </div>
                      <div class="col-4">
                        Program:<span> {{university.program}}</span>
                    </div>
                    <div class="col-4">
                      Fee:<span> ${{university.fee}}</span>
                  </div>
                    </div>
                  </div>
                </div>
                
              </div>
            {% endif %}
              
            {% endfor %}
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">

        <div class="col-lg-12">
          <div class="accordions is-first-expanded">
            <article class="accordion">
                <div class="accordion-head">
                    <span>How reliable is the information?</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Our education experts collects the data directly from university websites and other education portals. </p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>How do you calculate chance of acceptance?</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>The system calculates with the help of multiple regression model including your educational background other sources of data such as GRE, IELTS score, etc.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>Is the all information updating in your system?</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>The Eduactive have integrated system that takes information updates from universities</p>
                    </div>
                </div>
            </article>
            
        </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %} <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel ">
          
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Time Saving</h4>
                <p>
                  No need to spend hours exploring! With just a few clicks, you can easily familiarize yourself with the universities of your choice and apply.                </p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Lots of information</h4>
                <p>
                  Access to more than 300 education and scholarship programs currently available in full detail.                </p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Full Compliance with the Program</h4>
                <p>
                  By recording your educational information, we present the most suitable universities to which you can be admitted!                </p>
              </div>
            </div>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </section>  {% endcomment %}

  {% comment %} <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About Our Platform</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">94</div>
                    <div class="count-title">Succesed Students</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">126</div>
                    <div class="count-title">Current Teachers</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">2345</div>
                    <div class="count-title">New Students</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">32</div>
                    <div class="count-title">Awards</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="{% static 'assets/images/play-icon.png' %}" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>

                <form method = 'post'>
                  {% csrf_token %}
                  <div class="col-lg-4">
                    <fieldset>
                      {% comment %} <input name="name" type="text" id="name" placeholder="YOURNAME...*" required=""> {% endcomment %}
                      {{form.name}}
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    {% comment %} <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required=""> {% endcomment %}
                    {{form.email}}
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      {% comment %} <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required=""> {% endcomment %}
                      {{form.subject}}
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      {% comment %} <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea> {% endcomment %}
                      {{form.message}}
                    </fieldset>
                  </div>
                </form>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>(51) 778-60-29</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@eduactive.az</span>
              </li>
              
              <li>
                <h6>Website URL</h6>
                <span>www.eduactive.az</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 EduActive Co., Ltd. All Rights Reserved. 
          
    </div>
    
  </section>
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/lightbox.js' %}"></script>
  <script src="{% static 'assets/js/tabs.js' %}"></script>
  <script src="{% static 'assets/js/video.js' %}"></script>
  <script src="{% static 'assets/js/slick-slider.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script>
      //according to loftblog tut
      $('.nav li:first').addClass('active');

      var showSection = function showSection(section, isAnimate) {
        var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $('body, html').animate({
            scrollTop: reqSectionPos },
          800);
        } else {
          $('body, html').scrollTop(reqSectionPos);
        }

      };

      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
          }
        });
      };

      $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
  </script>
</body>

</body>
</html>