{% extends "base.html" %} {% load static %} {% block main %}

<main class="sections">
  <section class="login-page">
    <div class="container">
      <div class="sign-container">
        <div class="tab-content" id="myTabContent">
          
          <form
            method="post"
            class="needs-validation sign-in-validation"
            novalidate
          >
            {% csrf_token %} {% comment %}
            <div class="logmailInput mb-4">
              <label for="logMailid" class="form-label">First Name</label>
              {{profile_form.first_name}}
              <div class="invalid-feedback">Please fill in the field!</div>
            </div>

            <div class="logmailInput mb-4">
              <label for="logMailid" class="form-label">Last Name</label>
              {{profile_form.last_name}}
              <div class="invalid-feedback">Please fill in the field!</div>
            </div>
            {% endcomment %}

            <div
              class="contact-first-inputs d-flex justify-content-sm-between align-items-sm-center"
            >
              <label class="inputLabels" for="firstName"
                >First Name {{profile_form.first_name}}
              </label>

              <label class="inputLabels" for="lastName"
                >Last Name {{profile_form.last_name}}
              </label>
            </div>
            <br />

            <div
              class="contact-first-inputs d-flex justify-content-sm-between align-items-sm-center"
            >
              <label class="inputLabels" for="firstName"
                >Email {{profile_form.email}}
              </label>

              <label class="inputLabels" for="lastName"
                >Phone Number {{profile_form.phone_number}}
              </label>
            </div>
            <br />

            <div
              class="contact-first-inputs d-flex justify-content-sm-between align-items-sm-center"
            >
              <label class="inputLabels" for="lastName"
                >University {{profile_form.university}}
              </label>
              <label class="inputLabels" for="firstName"
                >Birth date {{profile_form.birthday}}
              </label>
            </div>
            <br />

            <div
              class="contact-first-inputs d-flex justify-content-sm-between align-items-sm-center"
            >
              <label class="inputLabels" for="firstName"
                >Which study program you want to apply?
                {{profile_form.study_program}}
              </label>
              <label class="inputLabels" for="firstName"
                >Degree {{profile_form.degree}}
              </label>
            </div>
            <br />

            

            <div
              class="contact-first-inputs d-flex justify-content-sm-between align-items-sm-center"
            >
              <label class="inputLabels" for="firstName"
                >Gre {{profile_form.gre}}
              </label>
              <label class="inputLabels" for="firstName"
                >Gmat {{profile_form.gmat}}
              </label>
            </div>
            <br />

            <div
              class="contact-first-inputs d-flex justify-content-sm-between align-items-sm-center"
            >
              <label class="inputLabels" for="firstName"
                >Ielts {{profile_form.ielts}}
              </label>
              <label class="inputLabels" for="firstName"
                >Toefl {{profile_form.toefl}}
              </label>
            </div>
            <br />

            <div class="logmailInput mb-4">
              <label for="logMailid" class="form-label">Gpa</label>
              {{profile_form.gpa}}
              <div class="invalid-feedback">Please fill in the field!</div>
            </div>
            <br />

            

            <div>
              <a class="loss-pass" href="{% url 'reset_password' %}"
                >Change Password</a
              ><br />
              <button class="cs-btn w-100" type="submit">Sumbit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock main %}
