{% extends "base.html" %}

{% load static %}

{% block main %}
    <div class="dummy-height"></div>
<main class="sections">
  <section class="university-profile">
    <div class="container">
      <h1 class="university-profile-title">University Profile</h1>
      <div class="uni-profile-details d-flex align-items-center justify-content-between flex-wrap">
        <div class="uni-info">
            <div class="uni-degree">{{university.study_field}} / {{university.program}} / {{university.degree}}</div>
            {% comment %} <div class="uni-loc">Texas University, San Antonio</div> {% endcomment %}
            <span class="me-2 qs-class">QS <span>#{{university.qs_rank}}</span></span>
            {% comment %} <span class="me-2 qs-class">QS <span>#34</span></span>
            <span class="qs-class">QS <span>#34</span></span> {% endcomment %}
        </div>
        <div class="uni-apply-link">
          <form method='post'>
            {% csrf_token %}
            <input type='hidden'></input>
            <button title="Application Process" class="text-decoration-none d-block cs-btn" type='submit'>Start Application Process</button>


          </form>
            {% comment %} <a class="text-decoration-none d-block cs-btn" href="{{university.link}}">Apply</a> {% endcomment %}
            <div>${{university.fee}} application fee</div>
        </div>
      </div>
      <div class="uni-programs-details d-lg-flex justify-content-between align-items-start">
        <div class="uni-program-about">
          <h4>About Program</h4>
          <p>
            {{university.bio}}
          </p>
        </div>
        <div class="uni-program-extend">
          <p class="uni-duration">Program duration: <span>  {{university.study_duration}}</span></p>
          <p class="uni-fee">

            {% comment %} {% if university.fee_waiver == 'Available' %}
              <img src="{% static 'assets/css/icons/others/green-tick.svg' %}" alt="">
            {%else%}
            <img src="{% static 'assets/css/icons/others/cancel.svg' %}" alt="">

            {% endif %} {% endcomment %}

            Free Application is {{university.fee_waiver}} <span>(Application Fee Waiver)</span>
          </p>
          <ul class="list-unstyled">
            <li class="list-loc mb-2 d-flex align-items-center">
              <img src="{% static 'assets/css/icons/others/location.svg' %}" alt="">
              <span>{{university.city}}, {{university.state}}</span>
            </li>
            <li class="list-date mb-2 d-flex align-items-center">
              <img src="{% static 'assets/css/icons/others/time.svg' %}" alt="">
              <span>{{university.deadline}}</span>
            </li>
            <li class="list-price d-flex align-items-center">
              <img src="{% static 'assets/css/icons/others/money.svg' %}" alt="">
              <span>{{university.tution_fee}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="requirements">
        <h4>Requirements</h4>
        <div class="one-requirement require">
          <span>Language Tests</span>
          <span>

            {% if university.toefl %}
            TOEFL {{university.toefl}} or
            {% endif %}
               IELTS {{university.ielts}} 
          </span>
        </div>
        <div class="two-requirement require">
          <span>Additional preferences</span>
          <span>Academic Research </span>
        </div>
        <div class="three-requirement require">
          <span>GPA</span>
          <span>{{university.gpa}}/4.00</span>
        </div>
        <div class="four-requirement require">
          <span>Other Requirements</span>
          <span>CV, motivation and reference letter </span>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock main %}
